[merge]
	tool = kdiff3
[user]
	name = David Pursehouse
	email = david.pursehouse@gmail.com
[color]
	ui=auto
[core]
	editor = nano
	excludesfile = /Users/david/.gitignore_global
[init]
	templatedir = ~/.git_template
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[mergetool "kdiff3"]
	path = /Applications/kdiff3.app/Contents/MacOS/kdiff3
