[gerrit]
	basePath = git
	canonicalWebUrl = http://localhost:8080/
[database]
	type = h2
	database = db/ReviewDB
[auth]
	type = DEVELOPMENT_BECOME_ANY_ACCOUNT
[sendemail]
	smtpServer = localhost
[container]
	user = david
	javaHome = /usr/lib/jvm/java-6-sun-1.6.0.45/jre
[sshd]
	listenAddress = *:29418
[httpd]
	listenUrl = http://*:8080/
[cache]
	directory = cache
